<% provide(:title, 'Create Article') %>
<% provide(:button_text, 'Create my article') %>
<h1>Create an Article</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'new_form' %>
  </div>
</div>
