<% provide(:title, 'Create Market') %>
<% provide(:button_text, 'Create my market') %>
<h1>Create your Market</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'new_form' %>
  </div>
</div>
